<footer class="site-footer">
  <div class="container text-muted">
    <p>
      Please review our <a href="{{ '/privacy_policy' | relative_url }}">privacy policy</a> and <a href="{{ '/terms' | relative_url }}">terms</a> before use.
      <br>
      <a href="https://github.com/vanallenlab/moalmanac-api" target="_blank" rel="noopener noreferrer">API</a> |
      <a href="https://bsky.app/profile/moalmanac.org" target="_blank" rel="noopener noreferrer">Bluesky</a> |
      <a href="mailto:moalmanac@ds.dfci.harvard.edu" target="_blank" rel="noopener noreferrer">Contact</a> |
      <a href="https://github.com/topics/molecular-oncology-almanac" target="_blank" rel="noopener noreferrer">GitHub</a>
    </p>

    <div id="logo-list" class="logo-container">
      <a href="https://www.dana-farber.org/" target="_blank" rel="noopener noreferrer">
        <img src="{{ '/assets/img/dana-farber-color.png' | relative_url }}" class="footer-img" alt="Dana-Farber logo">
      </a>
    </div>
  </div>
</footer>
