<p>Posts are organized into categories for ease of navigation:</p>
<ul>
  <li><a href="{{ site.baseurl }}/category/algorithm">Algorithm</a> - developments to the <a href="https://github.com/vanallenlab/moalmanac" target="_blank">interpretation algorithm implemented in Python</a>.</li>
  <li><a href="{{ site.baseurl }}/category/announcement">Announcement</a> - general news related to the Molecular Oncology Almanac.</li>
  <li><a href="{{ site.baseurl }}/category/annual-newsletters">Annual newsletters</a> - annual newsletters that recap updates made that year.</li>
  <li><a href="{{ site.baseurl }}/category/database">Database</a> - changes and additions to the <a href="https://moalmanac.org">underlying knowledge base</a>.</li>
  <li><a href="{{ site.baseurl }}/category/release">Release</a> - aggregated release notes from GitHub releases (serving as the project changelog).</li>
</ul>
