<p>Posts are organized into categories for ease of navigation:</p>
<ul>
  <li><a href="{{ site.baseurl }}/category/algorithm/">Algorithm</a> - updates to the <a href="https://github.com/vanallenlab/moalmanac" target="_blank">interpretation algorithm implemented in Python</a>.</li>
  <li><a href="{{ site.baseurl }}/category/announcement/">Announcement</a> - news announcements related to the Molecular Oncology Almanac.</li>
  <li><a href="{{ site.baseurl }}/category/database/">Database</a> - updates to the <a href="https://moalmanac.org">underlying database</a>.</li>
  <li><a href="{{ site.baseurl }}/category/release/">Release</a> - aggregated release notes of GitHub releases. Also referred to as the changelog.</li>
</ul>