{% assign items = include.posts | default: site.posts %}
{% if items and items.size > 0 %}
    {% if page.title %}
        <h2 class="post-list-heading">{{ page.title }}</h2>
    {% endif %}
    <ul class="post-list">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {% for post in items %}
        <li>
        <span>
            <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
            </a>
        </span>
        <span class="post-meta">
            {{ post.date | date: date_format }}
        </span>
        <span>
            {% if post.categories and post.categories.size > 0 %}
            <span class="post-meta post-categories">
                Categories:&nbsp;
                {% for category in post.categories %}
                {% assign category_slug = category | slugify: 'pretty' %}
                <a class="post-category" href="{{ '/category/' | append: category_slug | relative_url }}">
                    {{- category -}}
                </a>{% unless forloop.last %},{% endunless %}
                {% endfor %}
            </span>
            {% endif %}
        </span>
        {% if site.show_excerpts %}
            {{ post.excerpt }}
            <a href="{{ post.url | relative_url }}">Continue reading</a>
        {% endif %}
        </li>
        {% endfor %}
    </ul>

{% endif %}
