---
---
@import "{{ site.theme }}";

:root {
    --primary-color: #00629B; /* Dana-Farber Blue - for navbar, titles, logo, and hyperlinks */
    --secondary-color: #FFA300; /* Dana-Farber Orange - for navbar hover, subtitles  */
    --tertiary-color: #41B6E6; /* Dana-Farber Light Blue - for h4 */
}

html {
  scrollbar-gutter: stable;
}

html, body {
  min-height: 100vh;
}

body {
	background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

.page-content {
  flex: 1;
}

/* ====================
   2. Typography
   ==================== */
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.tertiary-color {
    color: var(--tertiary-color);
}

/* ====================
   Header
   ==================== */
.site-header {
  background-color: var(--primary-color);
  border-top: none;
}

.page-link,
.page-link:visited {
  color: #ffffff !important;
  padding-top: 20px;
  padding-bottom: 20px;
  text-decoration: none;
}
.page-link:hover {
  color: var(--primary-color) !important;
  background: var(--secondary-color);
  text-decoration: none;
}
.site-title,
.site-title:visited {
  color: #ffffff !important;
  font-size: 1.25rem;
  font-weight: 400;
  height: 56px;
  padding: 0 1rem;
  text-decoration: none;
}
.site-title:hover {
  color: var(--primary-color) !important;
  background: var(--secondary-color);
  text-decoration: none;
}

.site-nav .menu-icon {
  background-color: var(--primary-color);
  margin: 0 !important;
}
.site-nav .trigger {
  background-color: var(--primary-color) !important;
}

/* ====================
   4. Footer
   ==================== */
.site-footer {
  background-color: #EEEEEE;
  margin-top: 50px;
  padding: 2em 0;
  text-align: center;
  width: 100%;
}

.footer-img {
  max-height: 50px;
  width: auto;
  display: block;
  margin: 1rem auto 0 auto; /* centers logo directly under text */
}

.logo-container {
  margin-top: 1rem;
}

/* ====================
   Table of contents
   ==================== */
.post-categories { 
  margin-left: .5rem;
}
.post-category { 
  text-decoration: none;
  margin-left: .1rem;
  margin-right: .1rem; 
}

/* ====================
   Hyperlinks
   ==================== */

a,
a.post-link {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover,
a:focus,
a.post-link:hover,
a.post-link:focus {
    color: var(--primary-color);
    text-decoration: underline;
}
