---
layout: base
---

<div class="home">
  {% if page.title %}
    <h1 class="page-heading">{{ page.title }}</h1>
  {% endif %}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}


  {% if posts.size > 0 %}
    {% if page.list_title %}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {% endif %}
    <ul class="post-list">
      {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
      {% for post in posts %}
      <li>
        <span>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </span>
        <span class="post-meta">
          {{ post.date | date: date_format }}
        </span>
        <span>
          {% if post.categories and post.categories.size > 0 %}
            <span class="post-categories">
              {% for category in post.categories %}
                <a class="post-category" href="{{ category | slugify: 'pretty' | append: '/' | relative_url }}">
                  {{ category }}
                </a>
              {% endfor %}
            </span>
          {% endif %}
        </span>
        {% if site.show_excerpts %}
          {{ post.excerpt }}
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    {% if site.paginate %}
      <div class="pagination">
        {%- if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | relative_url }}">Previous</a>
        {% else %}
          <span>Previous</span>
        {% endif %}
        &nbsp;

        {%- assign total   = paginator.total_pages -%}
        {%- assign current = paginator.page -%}
        {%- assign window  = 2 -%}
        {%- assign pathpat = site.paginate_path | default: '/page:num' -%}

        {%- assign start = current | minus: window | at_least: 1 -%}
        {%- assign stop  = current | plus: window  | at_most: total -%}

        {%- if start > 1 -%}
          <a href="{{ '/' | relative_url }}">1</a>
          &nbsp;
          {%- if start > 2 -%}…{% endif -%}
          &nbsp;
        {%- endif -%}

        {%- for n in (start..stop) -%}
          {%- if n == 1 -%}
            {%- assign url = '/' -%}
          {%- else -%}
            {%- assign url = pathpat | replace: ':num', n -%}
          {%- endif -%}
          {% if n == current %}
            <strong>{{ n }}</strong>
          {% else %}
            <a href="{{ url | relative_url }}">{{ n }}</a>
          {% endif %}
          &nbsp;
        {%- endfor -%}


        {%- if stop < total -%}
          {%- assign last = total | minus: 1 -%}
          {%- if stop < last -%} … {% endif -%}
          &nbsp;
          <a href="{{ pathpat | replace: ':num', total | relative_url }}">{{ total }}</a>
          &nbsp;
        {%- endif -%}

        {%- if paginator.next_page %}
          <a href="{{ paginator.next_page_path | relative_url }}">Next</a>
        {% else %}
          <span>Next</span>
        {% endif %}

      </div>
    {% endif %}

  {% endif %}

</div>